@mixin title-colors{
    color: #000;
    text-shadow: 2px 2px 4px #fff;
    font-size: 60px;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}