@mixin title-colors{
    color: #000;
    font-size: 50px;
    font-family:$font-family_2;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin bg-color($color){
    background-color: $color;
}