$color-1: #000;
$color-2: #fff;
$color-fondo: #3498DB;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-family_3: Verdana, Geneva, Tahoma, sans-serif;
$ancho: 500px ;


