$color_1: #000;
$color-hover_2: #808080;
$color-text_3: #000;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-family_3: Verdana, Geneva, Tahoma, sans-serif;


